.main-content {
    margin-top: 5%;
}

#reset:hover {
    cursor: pointer;
}

#new-game:hover {
    cursor: pointer;
}

.puzzles {
    margin-right: 60px;
}

.puzzle-list {
    color: black;
    line-height: 2.5;
    font-size: 20px;
    border-color: blue;
}

.board {
    border: 5px solid brown;
    height: 600px;
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 2%;
    text-align: center;
}

[title="green"] {
    color: darkgreen;
}

[title="yellow"] {
    color: yellow;
}

.open {
    color: black;
}

.row {
    margin: 10px;
}

.records {
    margin-left: 60px;
}

.records-list {
    border-color: blue;
    color: black;
    line-height: 2.5;
    font-size: 20px;
}

.peg:hover {
    cursor: pointer;
    opacity: 0.5;
}

.double-peg1 {
    margin-left: 35px;
}

.double-peg2 {
    margin-right: 35px;
}